
*{
    color:white;
}

 #navbar{
   height:60px;
   background-color: black;

}
button{
  background-color: yellow;
}
#logo{
    color:orange;
    font-size:  25px;
}
a{
    margin-right:20px;
}
  
  